.scroll-top {
    position: fixed;
    bottom: 2em;
    right: 1em;
    /* border:1px solid  #2978b5;
    background-color:  #2978b5; */
    /* color: #ffff; */
  }
  
  @media (max-width: 900px) {
    .scroll-top {
      display: none;
    }
  }
  