.nav__list {
  margin-right: 1.5em;
  /* border :1px solid red; */
  display: flex;
}
.nav__list li {
  list-style: none;
}
.nav__list-item {
  margin-left: 1.5em;
}
.app .nav__hamburger {
  display: none;
  border: 1px solid black;
}
.nav__theme {
  margin-top: 0.4em;
}
.link {
  color: #2978b5;
}

/* change in media quary */
@media (max-width: 600px) {
  .nav__list {
    display: none;
    flex-direction: column;
    /* border: 1px solid red; */
    margin-top: 0%;
    /* padding-top: -150%; */
    padding: 0%;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    width: 100%;
    background-color: white;
    height: 100%;
    z-index: 2;
  }

  .nav__list-item {
    margin: 0.5em 0;
  }

  .app .nav__hamburger {
    display: flex;
    z-index: 2;
    margin-left: 0.8em;
  }
}
