.contener {
  border: 3px solid #2978b5;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.36) 0px 10px 15px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  width: 500px;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.stat {
  text-align: center;
  color: #2978b5;
}

.contener1 {
  border: 3px solid #2978b5;
  border-radius: 20px;
  width: 820px;
  box-shadow: rgba(0, 0, 0, 0.36) 0px 10px 15px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.img1 {
  width: auto;
}
@media (max-width: 600px) {
  .contener {
    width: 400px;
  }
  .contener1 {
    flex-direction: column;
    width: 400px;
    height: 500px;
    gap: 3px;
  }
  .img1 {
    width: 380px;
    display: block;
    margin: auto;
  }
}
