.footer {
    text-align: center;
    color: #2978b5;
  }
  
  .footerBox{
    margin: auto;
    padding-bottom: 20px;
    /* //border-radius: 15px; */
    background-color: transparent;
    padding: 20px 0 20px 0;
    height: auto;
    background-color: 
    #2f2e41;
  }
  .footerBox>h5{
    display: flex;
    justify-content: center;
    color: #ffff;
  
  }
 
  
 
  
  @media (max-width: 600px) {
    .footerBox{
      
      width: 100%;
      border-radius: 0px;
      margin-bottom: 0px;
    }
  }