.github_Calender{
    margin: auto;
    border: 3px solid  #2978b5; 
    box-shadow: rgba(0, 0, 0, 0.36) 0px 10px 15px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
}
.git{
    text-align: center;
    color: #2978b5;
}
@media (max-width: 600px) {
    .github_Calender{
        width: 370px; 
    }
    
}